.div-1{
background-color: red;
width:200px;
height:150px;
}

.div-2{
background-color:yellow;
width:300px;
height:250px;
position:relative;
bottom:100px;
}

.div-3{
background-color:green;
width:200px;
height:200px;
bottom:0px;
position:absolute;
right:50px;
}

.child-div{
width:50px;
height:50px;
color:white;
background-color:blue;
position:absolute;
bottom:0px;
  
}